body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    overflow-x: hidden;
}

body:after {
    content:'';
    top: 0;
    left: 0;
    position: absolute;
    width:100%;
    height:100%;
    background: #ffffff;
    z-index: 20;
    animation: load ease .55s forwards;
    opacity: 1;
}

@keyframes load {
    40% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
  }


body.--open {
    overflow: hidden;
}

::selection {
    background: rgb(222 184 94 / 40%);
}

.dark > main,
.light > main {
    transition: .5s;
}

p {
    font-size: .875rem;
    line-height: 1.3;
}

header {
    position: fixed;
    width: 100%;
    left: 0;
    backdrop-filter: blur(12px);
    z-index: 20;

    background-color: rgba(255, 255, 255, 0.01);
    box-shadow: 0 26px 42px rgb(0 0 0 / 10%);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

header .container {
    display: flex;
    justify-content: space-between;
    padding-top: 1em;
    padding-bottom: 1em;
}

header .container .header__wrapper {
    display: flex;
}

h1 a {
    margin-right: 1em;
    font-family: 'Roboto Mono';
}

.menu {
    list-style-type: none;
    display: none;
    counter-reset: line-number;
    font-size:.75rem;
}

.--open .menu {
    display: block;
    position: absolute;
    left: 0;
    font-size: 2rem;
    line-height: 3.5rem;
    top: 0;
    backdrop-filter: blur(12px);
    height: 100vh;
    width: 100vw;
    padding: 1em;
}

#close img {
    width: 50px;
    height: 50px;
    margin-left: -.15em;
    margin-top: 3em;
    opacity: .5;
}

.menu__item {
    margin: 0 1em 0 0;
    padding: 0;
    counter-increment: line-number;
    font-family: 'Roboto Mono';
}

.menu__item:before {
    content: '0'counter(line-number)'.';
    margin-right: -.5em;
    opacity: .5;
}

#capa {
    height: 100vh;
}

#capa .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

#capa h2,
#capa h3 {
    font-size: 2rem;
    text-transform: lowercase;
    line-height: .9;
    letter-spacing: -.05em;
}

#capa h3 {
    opacity: .5;
    font-size: 1.5rem;
}

#capa p {
    text-transform: lowercase;
    max-width: 300px;
    font-size: 1rem;
    margin: 1em auto 0;
}

.terminal {
    background-color: rgba(255, 255, 255, 0.01);
    padding: 1em 2em 2em;
    border-radius: 5px;
    position: relative;
    box-shadow: 0 26px 42px rgb(0 0 0 / 10%);
    border: 1px solid rgba(255, 255, 255, 0.2);
    max-width: 100%;
    height: min-content;
    backdrop-filter: blur(12px);
}

.controls {
    display:flex;
    justify-content: space-between;
    width: 45px;
    margin-bottom:1em;
}

.control {
    height: 12px;
    width: 12px;
    border-radius: 50%;
}

.control:nth-child(1) {
    background-color: #ff5f56;
}

.control:nth-child(2) {
    background-color: #ffbd2e;
}

.control:nth-child(3) {
    background-color: #27c93f;
}

.page-title {
    width: 100%;
    position: absolute;
    top: 1rem;
    right: 2em;
    text-align: right;
    font-size:.75rem;
    opacity: .7;
}

.cover__text {
    padding: 2em 0;
    text-align: center;
}

.terminal h2 {
    font-size: 1.75rem;
    letter-spacing: -.05em;
    margin-bottom:.2em;
}

#sobre,
#recursos,
#videos,
#contato,
#experiencia {
    padding-top: 6rem;
    padding-bottom: 6rem;
    display:flex;
    align-items: center;
    position: relative;
    justify-content: center;
}

#sobre .container,
#recursos .container,
#videos .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#contato {
    min-height: 100vh;
    padding-top: 0;
    padding-bottom: 0;
}

#recursos .container .terminal,
#sobre .container .terminal {
    margin-bottom: 5em;
}

#sobre .container .terminal:first-child,
#recursos .container .terminal:first-child {
    margin-bottom: 2em;
}

#sobre .container .terminal:nth-child(1),
#recursos .container .terminal:nth-child(2) {
    z-index: 5;
}

#sobre .container .terminal:nth-child(2),
#recursos .container .terminal:nth-child(1) {
    z-index: 5;
}

.circle {
    height: 50vh;
    width: 50vh;
    position: absolute;
    background-color:#5c4b63;
    border-radius: 50%;
    top: 25vh;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    animation: circle 4s ease-in-out alternate infinite; 
}

@keyframes circle {
    100% {
        top: 20vh;
    }
}

#experiencia .container .timeline__wrapper {
    padding-bottom: 3em;
}

#experiencia .container .timeline__wrapper {
    border-right: none;
    border-left: solid 2px;
    padding-left: 1em;
}

#experiencia .container .timeline__wrapper .terminal {
    width: initial;
    max-width: initial;
}

#experiencia .container .timeline__wrapper .terminal h2 {
    font-size: 1.25rem;
    font-weight: bold;
    font-family: 'Roboto Mono', monospace;
    margin-bottom:1em;
}

#experiencia .container .timeline__wrapper .terminal:before {
    content: '';
    left: -1.75em;
    height: 1.25rem;
    width: 1.25rem;
    border-radius: 50%;
    position: absolute;
    top: -.1em;
}

.texts__list {
    list-style: none;
    margin-top: 1em;
}

.texts__item {
    margin-bottom: .5em;
    display: flex;
}

.texts__item:before {
    content: '📖';
    margin-right: .5em;
}

.--repositories .texts__item:before {
    content: '🖥️'
}

.abt__description.--videos {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.--videos iframe {
    margin-bottom: 2em;
}

#videos .terminal {
    max-width: initial;
}

#contato h2 {
    font-family: 'Roboto Mono';
    text-align: center;
}

.contact__list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
}

#contato img {
    height: 50px;
    width: 50px;
    margin: 0 10px;
}

footer .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align:center;
    font-family: 'Roboto Mono';
    padding: 10em 0;
}

footer .container .credits {
    font-size: .75rem;
}

#switcher {
    cursor: pointer;
}

/* DARK THEME */

body.dark {
    color: #ffffff;
    background-color: #2f2934;
}

.dark a {
    color: #f7cc63;
}

.dark .highlight,
.dark strong {
    color:#f580db;
}

.dark #capa {
    background-image: linear-gradient(to bottom, #5c4b63 -157%, #2f2934);
}

.dark #sobre {
    background-image: linear-gradient(to top, #5c4b63 -150%, #2f2934);
}

.dark #sobre .circle {
    background-image: linear-gradient(to bottom, #5c4b63, #2f2934);
    opacity: 0.2;
}

.dark #experiencia {
    background-image: linear-gradient(to bottom, #413747, #2f2934);
}

.dark #experiencia .container .timeline__wrapper .terminal:before {
    content:'💎';
}

.dark #experiencia .container .timeline__wrapper:nth-child(odd),
.dark #experiencia .container .timeline__wrapper:nth-child(even) {
    border-color: #7a5b7d;
}

.dark #experiencia .container .timeline__wrapper:last-child {
    border-color: initial;
    border-image-source: linear-gradient(to bottom,#5c4b63,transparent 100%);
    border-image-slice: 1;
}

.dark h1 a {
    color: #ffffff;
}

.dark #recursos {
    background-color: #2f2934;
}

.dark #videos {
    background-image: linear-gradient(to top, #5c4b63, #2f2934);
}

.dark #contato {
    background-image: linear-gradient(to bottom, #5c4b63, #78587d);
}

.dark footer {
    background-color: #78587d;
}

.dark #contato img {
    filter: invert(100%);
}

.dark #close img, 
.dark #menuOpener {
    filter: invert(100%);
}

.dark.--open .menu {
    background-color: rgb(79 54 151 / 95%);
}

/* LIGHT THEME */

body.light {
    color: #705d65;
}

.light header {
    border-bottom: 1px solid rgb(253 236 241);
}

.light a {
    color:#d4597a;
}

.light .highlight,
.light strong {
    color:#9991e2;
}

.light header,
.light .terminal {
    box-shadow: 0 26px 42px rgb(207 158 158 / 10%);
}

.light #capa {
    background-image: linear-gradient(to bottom, #f0d3df, #f1f1f1);
}

.light #sobre {
    background-image: linear-gradient(to top, #f0d3df, #f1f1f1);
}

.light #sobre .circle {
    background-image: linear-gradient(to bottom, #f0d3df, #f1f1f1);
}

.light #experiencia {
    background-image: linear-gradient(to bottom, #f0d3df, #f1f1f1);
}

.light #experiencia .container .timeline__wrapper .terminal:before {
    content:'💎';
}

.light #experiencia .container .timeline__wrapper:nth-child(odd),
.light #experiencia .container .timeline__wrapper:nth-child(even) {
    border-color: #ff7298;
}

.light #experiencia .container .timeline__wrapper:last-child {
    border-color: initial;
    border-image-source: linear-gradient(to bottom,#ff7298,transparent 100%);
    border-image-slice: 1;
}

.light h1 a {
    color: #272727;
}

.light #recursos {
    background-color: #f1f1f1;
}

.light #videos {
    background-image: linear-gradient(to top, #f0d3df, #f1f1f1);
}

.light #contato {
    background-color: #f0d3df;
}

.light footer {
    background-image: linear-gradient(to bottom, #f0d3df, #f1f1f1);
}

.light.--open .menu {
    background-color: rgb(250 250 250 / 95%);
}

/* MEDIAS */

@media (min-width: 768px) {
    .menu {
        display: flex;
        font-size: .75rem;
    }

    #menuOpener,
    #close {
        display: none;
    }

    #capa h2 {
        font-size: 3.5rem;
    }

    #capa h3 {
        font-size: 3rem
    }

    #sobre .container, 
    #recursos .container, 
    #videos .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }

    #sobre .container .terminal:nth-child(1), #recursos .container .terminal:nth-child(2) {
        margin-top: -5em;
        max-width: 49%;
        max-width: 40%;
    }

    #sobre .container .terminal:nth-child(2), #recursos .container .terminal:nth-child(1) {
        margin-top: 5em;
        max-width: 49%;
        max-width: 40%;
    }

    #experiencia .container .timeline__wrapper {
        width: 50%;
    }

    #experiencia .container .timeline__wrapper:nth-child(odd) {
        margin-left: 50%;
        border-right: none;
        border-left: solid 2px;
        padding-left: 1em;
    }
    
    #experiencia .container .timeline__wrapper:nth-child(even) {
        border-right: solid 2px;
        padding-right: 1em;
        margin-left: -2em;
        border-left: 0;
    }
    
    #experiencia .container .timeline__wrapper .terminal {
        width: initial;
        max-width: initial;
    }

    #experiencia .container .timeline__wrapper:nth-child(even) .terminal:before {
        right: -1.75em;
        left: initial;
    }

    #experiencia .container .timeline__wrapper {
        width: 50%;
    }

    #experiencia {
        padding: 20vh 0;
    }

    .terminal h2 {
        font-size: 2.25rem;
    }

    #sobre,
    #recursos {
        height: 100vh;
    }
    
    #videos, #contato, #experiencia {
        min-height: 100vh;
    }

    #sobre {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    #recursos .container .terminal, #sobre .container .terminal {
        margin-bottom: 0;
    }

    #videos .terminal {
        max-width: 100%;
        width: 83vw;
    }
}

@media (min-width: 1024px) {
    .cover__text {
        text-align: left;
    }
    #capa p {
        max-width: initial;
    }
    #capa h2 {
        font-size: 5rem;
    }

    #capa h3 {
        font-size: 4.5rem
    }

    .terminal h2 {
        font-size: 3rem;
    }

    .page-title {
        left: 0;
        text-align: center;
    }

    #recursos .container .terminal {
        max-width: initial;
        width: 100%;
    }

    .abt__description.--videos {
        flex-direction: row;
        justify-content: space-between
    }

    .abt__description.--videos iframe {
        max-width: 32%;
    }

    /* ANIMATIONS */

    #sobre .container .terminal:nth-child(1),
    #sobre .container .terminal:nth-child(2) {
        opacity: 0;
    }

    #sobre .container.--slide .terminal:nth-child(1) {
        animation: slideUp 1s ease-in-out forwards; 
    }

    #sobre .container.--slide .terminal:nth-child(2) {
        animation: slideDown 1s ease-in-out forwards; 
    }

    @keyframes slideUp {
        0% {
            opacity: 0;
            margin-bottom: -20em;
        }
        100% {
            opacity: 1;
        }
    }

    @keyframes slideDown {
        0% {
            opacity: 0;
            margin-top: -20em;
        }
        100% {
            opacity: 1;
        }
    }

    .timeline__wrapper .terminal:before {
        opacity: 0;
    }

    .timeline__wrapper.--slide .terminal:before {
        animation: fadeIn 1s ease-in-out forwards; 
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    #recursos .container .terminal:nth-child(1),
    #recursos .container .terminal:nth-child(2) {
        opacity: 0;
    }

    #recursos .container.--slide .terminal:nth-child(1) {
        animation: slideDown 1s ease-in-out forwards; 
    }

    #recursos .container.--slide .terminal:nth-child(2) {
        animation: slideUp 1s ease-in-out forwards; 
    }

}